*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; /* logo izquierda, menú derecha */
    background:
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url(./assets/lake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    padding: 5%;
}
.titulo {
    color: darkblue;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
}
h2 {
    color:rgb(1, 1, 83);
    font-size: xx-large;
}
.logo {
    width: 80px;
}
.logo img {
    width: 100%;
    border-radius: 15%;
}
body {
    background-color: #ffffff;
}
.navbar {
    flex: 1;
}
.navbar ul {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}
.navbar li {
    display: inline;        
}
li a {
    font-size: 3vw;
    list-style: none;
    text-decoration: none;
    padding-bottom: 10px; 
    color: rgb(1, 1, 83);
}
.productos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.precio-btn {
    display: flex;
    flex-flow: row;
    padding: 5px;
}
.producto {
    display: flex;
    width: clamp(320px, 25vw, 320px);
    border: 2px solid gray;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff;
    justify-content: space-between;
    flex-flow: column;
}
.producto img {
    width: 100%;
    height: auto;
    border: 2px solid gray;
    border-radius: 20px;
}

.btn-carrito {
  width: 100%;
  justify-content: center;
}

.reseñas {
    display: grid;
    grid-template-rows: 3fr 3fr 3fr;
    gap: 20px;
    padding: 1% 10% 2% 10%;
}
.card {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.25);
    transition: 0.7s;
}
.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.nombre-mje {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h3 {
      margin: 0;
}
p {
  margin: 0;
  line-height: 1.5;
}
footer {
    padding: 25px;
    background-color: rgb(14, 0, 63);
}
footer p {
    color: #faf7db;
    padding: 10px;
}
i {
padding: 5px;
font-size: 24px;
color: rgb(255, 136, 0);
}

.tabla-promociones {
    display: flex;
    justify-content: center;
    color: rgb(1, 1, 83);
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}