*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* logo izquierda, menú derecha */
    background:
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url(./assets/lake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 180px;
    padding: 2rem;
    padding: 5%;
}
.titulo {
    color: darkblue;
    padding: 24px;
    font-size: 2vw;
}
h2 {
    color:rgb(1, 1, 83);
    font-size: xx-large;
}
.logo {
    width: 80px;
}
.logo img {
    width: 100%;
    border-radius: 15%;
}
body {
    background-color: #f7f5f2;
    font-family: 'Raleway', sans-serif;
}
.navbar {
    flex: 1;
}
.navbar ul {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}
.navbar li {
    display: inline;        
}
li a {
    font-size: clamp(1.7rem, 1.5vw, 1.4rem);
    list-style: none;
    text-decoration: none;
    padding-bottom: 8px; 
    color: rgb(1, 1, 83);
}
.productos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.precio-btn {
    display: flex;
    flex-flow: row;
    padding: 8px;
}
.producto {
    display: flex;
    width: clamp(320px, 25vw, 320px);
    border: 2px solid gray;
    border-radius: 20px;
    padding: 8px;
    background-color: bisque;
    justify-content: space-between;
    flex-flow: column;
}
.producto img {
    width: 100%;
    height: auto;
    border: 2px solid gray;
    border-radius: 20px;
    max-width: 100%;
}
.precio {
    font-size: xx-large;
}

.btn-carrito {
    width: 100%;
    justify-content: center;
}

.reseñas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding:  8px 32px 8px 32px;
    margin-bottom: 32px;
}
.card {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    padding: 8px;
    border: 1px solid #8f8f8f;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: bisque;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.25);
    transition: 0.7s;
}
.foto-perfil {
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
.nombre-mje {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h3 {
    margin: 0;
}
p {
    margin: 0;
    line-height: 1.5;
}
footer {
    padding: 24px;
    background-color: rgb(14, 0, 63);
}
footer p {
    color: #faf7db;
    padding: 8px;
}
i {
    padding: 8px;
    font-size: 24px;
    color: rgb(255, 136, 0);
}

.tabla-promociones {
    display: flex;
    justify-content: center;
    color: rgb(1, 1, 83);
    padding: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: auto;
}
table {
        background-color: bisque;
}
input, textarea {
    width: 100%;
}
#contacto {
    margin: 32px;
}
label {
    margin-bottom: 16px;
}
